* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* mobile first */
:root {
	--main-bg-color: hsl(210, 11%, 18%);
	--main-link-color: hsl(210, 100%, 50%);
	--main-text-color: hsl(0, 0%, 100%);
	--body-text-size: 1rem;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);	
}

h1, h2, h3 {
	font-weight: normal;
}

h1 {
	font-size: calc(var(--body-text-size) * 1.3);	
}

h2 {
	font-size: calc(var(--body-text-size) * 1.2);
}

h3 {
	font-size: calc(var(--body-text-size) * 1.1);
}

p {
	font-size: calc(var(--body-text-size) * 1);
}

a {
	color: var(--main-text-color);
}

a:hover {
	color: var(--main-link-color);
}

header { 
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 12px;
	flex-shrink: 0;
}

footer {
	background-color: hsl(210, 15%, 21%);
	/* position: sticky; */
	/* bottom: 0px; */
	padding: 20px;
	flex-shrink: 0;
}

#container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100%;
}

#about-me {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#socials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 8px;
}

.sections {
	padding: 6px 16px;
}

/* 
@media screen, (min-width: 768px) {
	
} */