* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* mobile first */
:root {
	--main-bg-color: hsl(206, 11%, 13%);
	--secondary-bg-color: hsl(202, 11%, 15%);
	--main-link-color: hsl(210, 100%, 50%);
	--main-text-color: hsl(0, 0%, 100%);
	--body-text-size: 1rem;
	--font: "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: var(--font);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1, h2, h3 {
	font-weight: normal;
}

h1 {
	font-size: calc(var(--body-text-size) * 1.5);	
}

h2 {
	font-size: calc(var(--body-text-size) * 1.4);
}

h3 {
	font-size: calc(var(--body-text-size) * 1.3);
}

p {
	font-size: calc(var(--body-text-size) * 1.2);
}

a {
	color: var(--main-text-color);
}

a:hover {
	color: var(--main-link-color);
}

header { 
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 12px;
	flex-shrink: 0;
}

footer {
	background-color: var(--secondary-bg-color);
	display: flex;
	flex-direction: row;
	place-content: center;
	width: 100vw;
	flex-shrink: 0;
	margin-top: auto;
	padding: 20px 0;
}

#container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100%;
	place-items: center;
}

#about-me {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin: 1rem 0 1rem 0;
}

#about-me h1 {
	font-size: calc(var(--body-text-size) * 1.8);
}

#socials {
	display: flex;
	flex-direction: row;
	place-content: center;
	margin: 0.5rem;
}

#socials h3 {
	padding-right: 24px;
}

.sections {
	padding: 8px 8px;
	width: 85vw;
}

.sections h3, .sections p{
	margin-bottom: 0.5rem;
}


@media screen and (min-width: 768px) {
	.sections {
		padding: 16px 16px;
		width: 45vw;
	}
}