* {
	margin: 0;
	padding: 0;
	border: 0;
}

:root {
	--main-bg-color: hsl(210, 11%, 18%);
	--main-link-color: hsl(210, 100%, 50%);
	--main-text-color: hsl(0, 0%, 100%);
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}

a {
	color: var(--main-text-color);
}

a:hover {
	color: var(--main-link-color);
}

footer {
	background-color: hsl(210, 15%, 21%);
	padding: 20px;
}